article {
  padding: 2rem;
  margin-top: 1rem;
}

body {
  font-size: larger;
  background-color: floralwhite;
}

dt {
  font-weight: bold;
}

dd {
  font-style: italic;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

th {
  background-color: #009879;
  color: white;
  text-align: left;
}

th, td {
  padding: 12px 15px;
}

tbody tr {
  border-bottom: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 10px;
  font-size: 0.9em;
}

ol {
  list-style-type: upper-roman;
}

ul {
  list-style-type: circle;
}

/*#theBlackSwan p {
  color: black !important;
}

#antifragile > p {
  color: #009879;
}

#firstParagraph + p {
  color: #009879;
}*/
a:link {
  color: gray;
}

a:visited {
  color: #469597;
}

a:hover {
  color: #68904D;
}
a:active{
  color: #F7C815;
}

ul li:first-child {
  list-style-type: square;
}

ul a:before,
ul a:after {
  content: "\"";
}

div.header {
  line-height: 1.6;
  position: static;
}

img {
  margin-right: 1rem;
  float: left;
  width: 150px;
}

span.blackSwan {
  color: #009879;
}








